@font-face {
  font-family: "IRANSansWeb";
  src: local(IRANSansWeb(FaNum)),
    url(./fonts/IRANSansWeb\(FaNum\).ttf) format("truetype");
}

body {
  font-family: IRANSansWeb(FaNum);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
